<div class="dialog-container">
    <mat-toolbar matDialogTitle class="dialog-bar m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <h2 mat-dialog-title class="title dialog-title">
                {{data.title}}
            </h2>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-actions class="dialog-buttons py-12 px-24" fxLayout="row" fxLayoutAlign="end center">
        <button class="app-button outlined mr-8 dialog-button" (click)="dialogRef.close()" aria-label="CANCEL">
            Cancelar
        </button>

        <button class="app-button dialog-button" (click)="confirm()" aria-label="'SAVE'">
            Aceptar
        </button>
    </div>
</div>